/* Common Shared Style */
*{
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Merriweather', serif;
    background-color:#FFF ;
    /* margin: 0; */
    /* width: 1320px; */
    /* height: 600px; */
}

.heading{
    background-image: linear-gradient(#070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/bannerimage.png');
    width: 1320px;
    height: 600px;
    /* max-width: 83%; */
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50px;
}


/* banner section */
.banner{
        /* display: block; */
        /* display: flex; */
        text-align: center;
        align-items: center;
        justify-content: space-between;
        margin: none;
        padding: 175px 340px 170px 340px;
        
}

.banner-greetings{
    color: #FFF;
font-size: 32px;
font-weight: 400;
/* padding: 170px 525px; */
margin-bottom: 16px;

}

.banner-title{
    color: #FFF;
font-size: 72px;
font-weight: 900;
margin-top: 0px;

}

/* main section style */
.offer{
    text-align: center;
    
    width: 1320px;
    height: 600px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50px;
    margin-bottom: 120px ;
}
.offer-announce{
    color: #F00;

font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.offer-greetings{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
    margin-bottom: none;
}
.offer-title{
    color: #070211;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: none;
}

/* party section style */
.party{
    background-image: linear-gradient( #070211 0%, rgba(7, 2, 17, 0.00) 100%),
    url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50px;
    text-align: left;
    /* padding: 126px 500px 142px 126px; */
    
}

.party-title{
    color: #FFF;
font-family: Merriweather;
font-size: 64px;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
padding-right: 500px;
padding-top: 115px;
padding-left: 115px;
padding-bottom: 0%;
margin-bottom: 0px;
}

.party-description{
    color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 30px; /* 166.667% */
padding-left: 115px;
padding-right: 480px;
margin-top: 14px;
}

.party-join{
    color: #FFF;
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
background: none;
border: none;

padding-top: 40px;


}


.join-button{
   
   padding-left: 156px;
  }

/* gift section style */
.gift-section{
    width: 1320px;
    height: 600px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 50px;
    margin-bottom: 120px ;
    /* padding-left: 140px; */
    /* padding-top: 100px; */
}

.gift-about{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0px;
    margin-top: 0px;
}

.gift-title{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
margin-bottom: 10px;
margin-top: 0px;
}

.gift-description{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
margin-top: 0px;
padding-right: 564px;
}

.gift-items{
    

    /* /* display: block; */
    border-radius: 16px;
    /* display: grid; */
    /* padding: auto; */
    /* justify-content: space-between; */
    margin-top: 48px;
    margin-bottom: 120px;
    /* justify-content: center; */

}

.gift-items img{
    

}


.gift-image{
    padding: 10px;
    
}


/* subscribe section style */

.subscribe-section{
    /* padding: 80px ; */
    width: 1320px;
    height: 600px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 220px;
    /* margin-top: 50px; */
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;

}
.mail{
    padding-top: 80px;
}

.subscribe-title{
    color: #070211;
text-align: center;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.subscribe-description{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    padding-right: 212px;
    padding-left: 212px;
}

.input-form{
    max-width: 700px;
    height: 72px;
    margin: 48px auto;
    display: flex;
    /* border-radius: 50px; */
    gap: 0px;
}

.input-form input{
    flex-grow: 1;
    border: none;
    border-radius: 50px 0px 0px 50px;
    padding: 30px;
    color: rgba(7, 2, 17, 0.30);

font-family: Inter;
font-size: 18px;

font-weight: 400;
outline: none;
    
    /* jodi kono form ba div er moddhe flex thake er moddhe kono element k flex grow kori/thake tar vitore kono 1ta child k jodi flex-grow: 1; kore deya hoy,tahole she jototuku jayga pabe tototuku jayga niye nibe baki jayga tuku te onno child/element ta boshbe */
    /* width: 648px;
    height: 72px */
}

.subscribe-button{
    width: 210px;
height: 72px;
color: #FFF;
border-radius: 0px 50px 50px 0px;
background: #F00;
}


/* Footer section style */

footer{
    width: 1600px;
height: 609px;
background: #070211;
padding-right: 140px ;
padding-left: 140px;
margin-top: 120px;
}

.upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 40px; */
    padding-top: 120px;
padding-bottom: 50px;
padding-right: 400px;
/* padding-left: 120px; */
   
}

.adderess{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
margin-bottom: 0px;
padding-right: ;
}

.contact{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
margin-bottom: 0px;
}

.phone-web{
    /* display: inline-block; */
    /* text-align: right; */
    /* align-items: center; */
    /* justify-content: center; */

}


.website{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 166.667% */
margin-top: 0px;

}

/* footer second section */

.social-media{
    margin-top: 40px;
    align-items: center;
    padding: 48px 600px;
    max-width: 100%;
   
    

}


.icon{
    padding-right: 15px;
}

/* last section style */


.last-section{
    display: flex;
    /* align-items: center; */
    padding-top: 50px;
    justify-content: space-between;
    /* padding-left: 140px; */
    /* padding-right: 140px; */
}

.copyright{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;               
}

.unsubscribe{
   
}

.unsubscriber-button{
    background: #070211;
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
border: none;
}
